---
title: "First blog post"
date: 2020-09-15T11:30:03+00:00
tags: ["TestTag"]
author: "Rico"
showToc: true
TocOpen: false
draft: false
hidemeta: false
comments: false
description: "Yay wooo! It's workin!"
disableHLJS: true # to disable highlightjs
disableShare: false
disableHLJS: false
hideSummary: false
searchHidden: true
ShowReadingTime: true
ShowBreadCrumbs: true
ShowPostNavLinks: true
ShowWordCount: true
ShowRssButtonInSectionTermList: true
UseHugoToc: true
cover:
    image: "" # image path/url
    alt: "" # alt text
    caption: "Test" # display caption under cover
    relative: false # when using page bundles set this to true
    hidden: true # only hide on current single page
---